﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    

    @{ 
        bool isAdmin = false;
        if (User.Identity.IsAuthenticated)
        {
            var userId = User.Identity.GetUserId();
            var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
            var user = userManager.FindById(userId);

            ViewBag.ProfileImage = user?.ProfileImage;
            isAdmin = userManager.IsInRole(userId, "Admin");
        }
    }




    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @{
                        if (isAdmin)
                        {
                            <li>@Html.ActionLink("MANAGE ROLES", "ManageRoles", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("CATEGORIES", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("ADMIN PANEL", "AdminPanel", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }


                    <li>@Html.ActionLink("POSTS", "Index", "Posts", new { area = "" }, new { @class = "nav-link" })</li>



                </ul>



                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
