@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var profileImageUrl = ViewBag.ProfileImage as string;

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right" style="display: flex; align-items: center;">
            <li style="display: flex; align-items: center;">
                @if (!string.IsNullOrWhiteSpace(profileImageUrl))
                {
                    <img src="@profileImageUrl" alt="Profile Image" class="img-thumbnail" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;" />
                }
                <span style="display: flex; align-items: center;">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                </span>
            </li>
            <li style="margin-left: 15px;">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
