@model EduCrew.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <h3>hi,Welcome back @Model.UserName!!!</h3>
   

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>



            <dt>Bio:</dt>
            <dd>

                @if (Model.HasBio && Model.HasDesc)
                {
                    <p>@Model.Bio</p>
                    <p>@Model.Description</p>
                    @Html.ActionLink("Change your bio", "SetBio")
                }
                else
                {
                    @Html.ActionLink("Create", "SetBio")
                }

            </dd>

            <dt>Profile Image:</dt>
            <dd>

                @if (Model.HasProfilePhoto)
                {
                    <img src="@Model.ProfileImage" alt="Profile Image" style="max-width: 200px; max-height: 200px;" />
                    @Html.ActionLink("Change your profile image", "SetProfileImage")
                }
                else
                {
                    @Html.ActionLink("Create", "SetProfileImage")
                }

            </dd>


        </dl>


        <h4>Your Posts</h4>
        <hr />

        @if (Model.Posts != null && Model.Posts.Any())
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                      
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>@post.Title</td>
                            <td>@post.Category.Name</td>
                            <td>@post.DatePosted.ToString("yyyy-MM-dd")</td>
                            <td>@Html.ActionLink("go to details", "Details", "Posts", new { id = post.PostId }, new { @class = "nav-link" })</td>
                        </tr>
                    }
                </tbody>
            </table>

            <p><strong>Total Number of Posts in the Forum: </strong>@Model.TotalPostsInForum</p>
        }
        else
        {
            <p>You have not created any posts yet.</p>
        }
    </div>
</main>